* {
	  box-sizing: border-box;
	}
	
	h1 {
		
		font-family: Georgia serif;
		text-align: center;
	        font-size: 40px;
		color: blue;
		margin-bottom: 30px;
	}
	
	p {
		padding: 15px 5px 0px 5px;
	        position: relative;
		font-family: Georgia sans-serif;
		font-size: 16px;
		
	}
	
	.article { 
		background-color: gray;
	   	border: 2px solid black;
	  	margin-top: 20px; 
	   	margin-right: 20px; 
	   	padding: 6px;
	   	text-align: justify;
	   	position: relative;
	 }
	
	span {
		font-size: 20px;
		width: 150px;
		border: 1px solid black;
		font-weight: bold;
		text-align: center;
		float: right; top :0; right: 0; margin: 0;
		position: absolute;
	}
	#title1 {
		background-color: purple;
		color: black;
	}
	#title2 {
		background-color: brown;
		color: black;
	}
	#title3 {
		background-color: blue;
		color:black;
	}
	}
	
	.row {
		width: 100%;
	}
	
	
	@media (min-width: 992px) {
	 
	  .col-lg-4 {
	    width: 33.33%;
	    float: left;
		}
	}
	@media (min-width: 768px) and (max-width: 991px) {
	 
	  .col-md-6 {
	    width: 50%;
	    float: left;
	  }
	  .col-md-12 {
	    width: 100%;
	    float: left;
	  }
	}
	@media (max-width: 767px)  {
	  
	  .col-sm-12 {
	  	float: left;
	    width: 100%;
	  }
	}

