* {
  box-sizing: border-box;
  
}

h1{
font-family: "Times New Roman", Times, serif;
text-align: center;
margin-bottom: 15px
font-size:50;
}

#title1{
	border: 1px solid black;
	position: relative;
	background:red;
	float: right;
	clear: left;
	margin: 0;
	padding: 0;
	margin-bottom: 10px
	font-size:32;
	


}
#title2{
	border: 1px solid black;
	position: relative;
	background:blue;
	float: right;
    clear: both;
    margin:0;	
    padding: 0;
	font-size:32;

}
#title3{
	border: 1px solid black;
	position: relative;
	background:green;
	float: right;
	clear: both;
	margin: 0;
	padding: 0;
	font-size:32;

}
.article1,.article2,.article3{
      background-color: gray;
      border: 1px solid black;
	  width: 340px;
	  height: 220px;
	  margin-right: 5px;
	  margin-left: 5px;
	  margin-bottom: 15px;
	  float: left;
	  
	 	
	
	}
div{
	 

}


.row {
  width: 100%;
}
/********** Desktop **********/
@media (min-width: 992px) {
    
		.article1 .article2 .article3{
		width:30%;
	}
}

/********** Tablet **********/
    @media (min-width: 768px) and (max-width: 991px)  {
    		.article1 .article2 .article3 {
		width:45%;
	}
		.article3{
       width:90%;

}	}
 
/********** Mobile **********/
@media (max-width:  767px) {
       
		.article1 .article2 .article3{
		width:90%;
	}
